.container{
    width: 80%;
    margin: auto;
    margin-top: 5px;
    padding-top: 5px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}

.navbar-container{
    width: 100%;
    height: 55px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.navbar-content{
    height: 100%;
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-link{
    margin: 0.5em;
}
.force-right{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.force-center{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center
}

.force-left{
    display: flex;
    flex-direction: row;
    margin-right: auto;
}

a:link {
    text-decoration: none;
    color: #d4d4d4;
}
  
a:visited {
    text-decoration: none;
    color: #d4d4d4;
}

a:hover {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

.bg-light-gray {
    background-color: #f7f7f7;
}

.text-center{
    text-align: center!important;
}

.title-input {
    margin: 0;
    margin-bottom: 10px;
    border-radius: 10px;
    width: 75%;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 3px solid #ccc;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.title-input:focus{
    border: 3px solid #555;
}

.title-input::-webkit-input-placeholder {
    color: gray
 }

.title-input-placeholder::-webkit-input-placeholder {
    color: #de2137;
    color: rgba(222, 33, 55, 0.5);
 }

.search-input{
    margin: 0;
    margin-bottom: 5px;
    border-radius: 10px;
    padding: 5px;
    font-size: 1em;
    box-sizing: border-box;
    border: 3px solid #de2137;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    background-color: #000;
    color: white;
    height: 2.5em;
    margin-bottom: 0px;
}

.search-input:focus{
    border: 1px solid pink;
}

.list-container{
    padding: 10px;
    margin-top: 5px;
}

.button{
    font-size: 16px;
    color: #de2137;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #de2137;
    background-color: white;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.button-small{
    font-size: 1em;
    padding: 2px;
    border: solid;
    border-width: 0px;
    color: #de2137;
}

.button-small:link{
    color: #de2137;
}

.button:checked{
    color: #000;
}

.button-checked{
    background-color: #de2137;
    color: white;
    font-size: 16px;
    border: solid;
    border-radius: 10px;
    border-width: 2px;
    border-color: #de2137;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;
}

.button:hover{
    background-color: #de2137;
    color: white;
    cursor: pointer;
}

.button-small:active{
    border-width: 1px;
    border-color: pink;
}

.button:active{
    border-width: 3px;
    border-color: pink;
}

.search-button{
    background-color: #000;
    color: white;
    height: 2.5em;
}

.list-element-container{
    height: 2em;
    display: flex;
    align-items: center;
    margin: 0; 
}

.list-element{
    background-color: white;
    color: #000;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.list-element-line{
    text-decoration: line-through;
    color: #d4d4d4;
}

.modal .button{
    font-size: 12px;
    color: #de2137;
    border: solid;
    border-radius: 8px;
    border-width: 2px;
    border-color: #de2137;
    background-color: white;
    margin: 0;
    padding: 10px;
    box-sizing: border-box;   
}

.modal .button:hover{
    background-color: #de2137;
    color: white;
    cursor: pointer;
}

.modal .button:active{
    border-width: 3px;
    border-color: pink;
}
