@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');

$Logo: "Comforter", cursive;

.navbar-container{
    width: 100%;
    height: 55px;
    background-color: #000;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-content{
    height: 100%;
    width: 65%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navbar-link{
    margin: 0.5em;
}

.force-right{
    display: flex;
    flex-direction: row;
    margin-left: auto;
}

.force-left{
    display: flex;
    flex-direction: row;
}

  a:link {
    text-decoration: none;
    color: #d4d4d4;
  }
  
  a:visited {
    text-decoration: none;
    color: #d4d4d4;
  }
  
  a:hover {
    text-decoration: none;
    color: white;
  }
  
  a:active {
    text-decoration: none;
    color: white;
  }

  .logo-font{
    font-family: $Logo;
    font-size: xx-large;
  }